/* ==========================================================================
   About Section
   ========================================================================== */

.about-wrapper {
  overflow: hidden;
  background-color: var(--color-light);
  border-radius: var(--radius-xl);
}

/* About Content
   ========================================================================== */

.about-content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 100px;
}

.about-title {
  max-width: 537px;
  color: var(--color-primary);
}

.about-text-wrapper {
  max-width: 404px;
}

.about-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-primary);
}

.about-text.is-small {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.15;
  color: var(--color-dark);
  opacity: 0.4;
}

/* About Image
   ========================================================================== */

.about-image {
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
}
