/* ==========================================================================
   Benefits Section
   ========================================================================== */

.benefits-container {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

/* Benefits List
   ========================================================================== */

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  width: 716px;
  padding: 90px 50px;
  background-color: var(--color-primary);
  border-radius: var(--radius-xl);
}

.benefits-item {
  flex-basis: calc((100% - 44px) / 2);
}

.benefits-item-number {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
}

.benefits-item-number::after {
  content: '';
  display: block;
  height: 1px;
  margin: 18px 0;
  background-color: var(--color-light);
  opacity: 0.1;
}

.benefits-item-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  opacity: 0.8;
}

.benefits-item-text.is-narrow {
  width: 238px;
}

/* Benefits Image
   ========================================================================== */

.benefits-image {
  width: 432px;
  height: 424px;
  border-radius: var(--radius-xl);
}
