/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  width: 1230px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: var(--color-primary);
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
}

/* Footer Layout
   ========================================================================== */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1080px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  margin-bottom: 96px;
}

/* Footer Nav
   ========================================================================== */

.footer-menu {
  display: flex;
  gap: 4px;
}

/* Footer Content
   ========================================================================== */

.footer-subtitle {
  width: 693px;
  margin-bottom: 99px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}

/* Footer Bottom
   ========================================================================== */

.footer-bottom {
  display: flex;
  gap: 32px;
}

.footer-copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-light);
  opacity: 0.4;
}
