/* ==========================================================================
   Hero Section
   ========================================================================== */

.section-hero {
  width: 1280px;
  margin: 0 auto;
  padding-top: 235px;
  padding-bottom: 180px;
  background-image:
    linear-gradient(
      0deg,
      var(--color-hero-overlay) 15%,
      color-mix(in srgb, var(--color-hero-overlay) 39%, transparent) 75%,
      transparent 98%
    ),
    url('../images/hero-bg.avif');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Hero Container
   ========================================================================== */

.container.is-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
}

/* Hero Content
   ========================================================================== */

.hero-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-light);
}

.hero-text {
  max-width: 597px;
  margin-bottom: 48px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: var(--color-light);
  opacity: 0.7;
}
