.rent-section {
  padding-bottom: 150px;
}

.rent-container {
  display: flex;
  gap: 50px;
}

.rent-image {
  width: 658px;
  height: 536px;
  border-radius: 24px;
}

.rent-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}

.rent-content {
  width: 100%;
}

.rent-input {
  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  padding: 18px;
  border-radius: 12px;
  color: #fbfbfb;
  height: 54px;
}

.rent-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(251, 251, 251, 0.4);
}

.rent-label {
  display: block;
  margin-bottom: 18px;
}

.rent-label-textarea {
  display: block;
  margin-bottom: 50px;
}

.rent-textarea {
  resize: none;
  height: 116px;
}

.rent-submit-btn {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  padding: 18px 75px;
  background-color: #1b414b;
  border-radius: 15px;
  color: #fbfbfb;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.rent-submit-btn:hover,
.rent-submit-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
